<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caged.coaa.com.cagedspace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="false" />

    <application
        android:name=".Utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_map"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".OrchestraActvity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
